  @model Student
    
<h3 class="my-4">Delete Student</h3>

<h4 class="mb-4">Are you sure you want to delete this Student?</h4>

<div>
   
    <div class="card rounded shadow p-3">
         <!-- display the student using a <dl> as per Details.cshtml -->     
          <dl class="row">       
            <dt class="col-5">Name</dt>
            <dd class="col-7">@Model.Name</dd>

            <dt class="col-5">Course</dt>
            <dd class="col-7">@Model.Course</dd>
            
            <dt class="col-5">Age</dt>
            <dd class="col-7">@Model.Age</dd>
            
            <dt class="col-5">Email</dt>
            <dd class="col-7">@Model.Email</dd>

          </dl>
    </div>
    
    

          <!-- create a form to submit post request to DeleteConfirm action     --> 
       <form asp-action="DeleteConfirm">
            <!-- student Id should be a hidden input field named 'Id' in the form -->   
              <input type="hidden" asp-for="Id" class="form-control"/>

        <div class="mt-4">
            <!-- add type submit input button and cancel link to Index action     -->
              <input type="submit" value="Delete" class="btn btn-danger"/>
            <a class="btn btn-secondary" asp-action="Index">Cancel</a> 
        </div>
       </form>
   
    
</div>